@import 'slyd';
@import 'colors.css';

p > a {
  display: inline;
}

a, b {
  color: var(--neon, var(--brand-color-2), hotpink);
  text-shadow: 0 0 .5em var(--neon-glow);
}

small > a {
  font-size: max(60%, 3vmin);
}

small {
  display: inline-flex;
  align-items: center;
  gap: 1ch;
}

[flipped] {
  display: inline-block;
  transform: rotateY(.5turn);
}

code[class*="language-"], pre[class*="language-"] {
  text-align: left;
  font-size: max(48px, 4vmin);
}

.token.atrule, 
.token.attr-value {
  color: hsl(120 61% 70%);
}

.wavy {
  text-decoration-style: wavy;
}

.browser {
  max-block-size: 1em;
}

.visbug {
  display: inline-flex;
  background: white;
  border-radius: 999px;
  padding: .2em;
  box-sizing: content-box;

  & > img {
    max-block-size: .75em;
  }
}

li {
  gap: .5ch;
}

[spelling-error] {
  text-decoration: wavy underline var(--neon-red);
}

.qr {
  padding: 2.5vmin;
  background: white;
  border-radius: 5vmin;
  display: inline-flex;
  margin: 0;
}

slyds > slyd:after, slyds > slyd-group:not(:last-child) > slyd:last-child:after {
  font-size: max(2vmax, 32px);
}

@media (orientation: portrait) {
  code[class*="language-"], 
  pre[class*="language-"] {
    font-size: 2.5vmin;
  }
}

@media (orientation: portrait) and (max-width: 720px) {
  h1, h2, h3, h4, h5, h6, p {
    margin: 0 2vmax;
  }
}

@media (max-width: 640px) {
  code[class*="language-"], 
  pre[class*="language-"] {
    font-size: 16px;
    transform: translateZ(-15px);
  }
}

@media (min-width: 1024px) {
  h2.lg-codeblock-adjust {
    transform: translateZ(6px) translateY(50px);
  }
}